www.{$SITE_DOMAIN} {
	redir https://{$SITE_DOMAIN}{uri} permanent
}

{$SITE_DOMAIN} {
	encode zstd gzip

	header {
		-Server
		X-Content-Type-Options nosniff
		Referrer-Policy strict-origin-when-cross-origin
	}

	handle_path /static/* {
		root * /srv/static
		header Cache-Control "public, max-age=604800"
		file_server
	}

	handle /media/* {
		respond 404
	}

	handle {
		reverse_proxy web:8000
	}
}
